body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('images/photo_5424757619035334687_x.jpg');
  background-size: cover;
  background-position: center;
  margin: 0;
  font-family: Arial, sans-serif;
  overflow: hidden; /* Отключаем скролл */
}

#level-info {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  text-align: left;
}

#level-image {
  width: 50px; /* Увеличенный размер иконки уровня */
  height: 50px;
  margin-right: 10px;
}

#level {
  font-size: 32px;
  font-weight: bold;
  margin-left: 10px;
}

#experience {
  font-size: 18px;
  margin-bottom: 5px;
}

/* Центрирование и отображение монет */
#coin-info {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 32px;
  display: flex;
  align-items: center;
}

#coin-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

#coin-counter {
  font-weight: bold;
}

/* Сетка для 9 грядок */
.container {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: 30px;
  position: absolute;
  top: 45%; /* Подняли грядки выше */
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  width: 66px;
  height: 66px;
  background-color: rgba(165, 42, 42, 0.8);
  border: 2px solid #000;
  position: relative;
  cursor: pointer;
}

.clicked {
  background-color: brown;
}

/* Растение над грядками */
.seed-image {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

/* Таймер под растением */
.timer {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 16px;
  z-index: 3;
}

#notification {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}

#storage-selection {
  display: none;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background-color: #fff;
  border: 2px solid #333;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1002;
}

#inventory-list {
  margin-top: 10px;
}

#seed-selection button {
  display: block;
  margin-bottom: 10px;
}

/* Полупрозрачный фон для кнопок с закруглёнными углами */
.button-container-background {
  background-color: rgba(50, 50, 50, 0.7); /* Полупрозрачный тёмно-серый фон */
  padding: 20px;
  border-radius: 15px; /* Закругленные углы */
  position: absolute;
  top: 70%; /* Опустили кнопки ниже */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
  width: 350px;
}

/* Контейнер для кнопок управления */
.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  color: white; /* Белый цвет текста */
}

.button img {
  width: 30px;
  height: 30px;
}

.button span {
  font-size: 14px;
  margin-top: 15px;
  text-align: center;
}

.button.active {
  border: 2px solid #000;
}

/* Окно склада */
#storage-window {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background-image: url('images/storage_background.png');
  background-size: cover;
  border: 2px solid #333;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1002;
}

.inventory-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.seed-icon {
  width: 30px;
  height: 30px;
}

/* Окно магазина */
#shop-window {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 500px;
  background-image: url('images/shop_background.png');
  background-size: cover;
  border: 2px solid #333;
  padding: 20px;
  display: none;
  z-index: 1002;
  overflow-y: auto;
  max-height: 70%;
}

#shop-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#shop-buy, #shop-sell {
  width: 100%;
}

.shop-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.shop-item input {
  width: 50px;
}

.shop-item button {
  margin-left: 5px;
}

/* Галочка для созревшего растения */
.seed-image .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url('images/checkmark.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 3;
  display: none;
}

/* Когда растение созревает, галочка становится видимой */
.seed-image.mature .checkmark {
  display: block;
}

#menu-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#menu-icon img {
  width: 50px;
  height: 50px;
}

#dropdown-menu {
  position: absolute;
  top: 70px;
  right: 10px;
  background-color: #fff;
  border: 2px solid #333;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1002;
}

.menu-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-item img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.menu-item span {
  font-size: 16px;
}
