body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

#coin-counter {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);  /* Сетка 3x3 для 9 квадратов */
  grid-gap: 10px;
  margin-bottom: 20px; /* Отступ снизу для кнопок */
}

.square {
  width: 100px;
  height: 100px;
  background-color: green;
  cursor: pointer;
}

.clicked {
  background-color: brown;
}

/* Стили для контейнера с кнопками */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

/* Стили для каждой кнопки */
.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.button img {
  width: 50px;
  height: 50px;
}

.button span {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}
