body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('images/photo_5424757619035334687_x.jpg'); /* Путь к изображению фона */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
}

#level-info {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  text-align: left;
}

#level, #experience {
  font-size: 18px;
  margin-bottom: 5px;
}

#coin-counter {
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

/* Сетка для 9 грядок */
.container {
  display: grid;
  grid-template-columns: repeat(3, 80px);  /* 3 колонки */
  grid-template-rows: repeat(3, 80px);     /* 3 строки */
  grid-gap: 35px;
  position: absolute;
  top: 265px;                              /* Сдвигаем вниз */
  left: 599px;                             /* Сдвигаем влево */
  transform: rotateX(50deg) rotateZ(-37deg); /* Наклон и поворот грядок */
}

.square {
  width: 76px;
  height: 76px;
  background-color: rgba(165, 42, 42, 0.8); /* Полупрозрачный коричневый */
  border: 2px solid #000;
  position: relative;
  cursor: pointer;
  transform: rotate(45deg); /* Поворот грядки */
}

.clicked {
  background-color: brown;
}

/* Растения и таймеры внутри грядки */
.growing {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-45deg); /* Сброс поворота, чтобы растение отображалось горизонтально */
}

.timer {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg); /* Сброс поворота таймера */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
}

#notification {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffcc00;
  padding: 10px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}

#seed-selection {
  display: none;
  position: absolute;
  bottom: 100px;
  background-color: #fff;
  border: 2px solid #333;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

#seed-selection button {
  display: block;
  margin-bottom: 10px;
}

/* Контейнер для кнопок */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: absolute;
  bottom: 620px; /* Положение кнопок ближе к нижней части экрана */
  left: 50%;
  transform: translateX(-50%); /* Центрирование по горизонтали */
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.button img {
  width: 50px;
  height: 50px;
}

.button span {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}

.button.active {
  border: 2px solid #000;
}
